* {
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.player.container,
.computer.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  width: 120px;
  text-align: center;
  background-color: #FFC300;
  border-radius: 10px;
  border: 2px solid #000000;
}

.scores-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  padding: 0 20px;
}

button {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC300;
  border-radius: 10px;
  border: none;
  width: 150px;
  box-shadow: 0 10px #808080;
  cursor: pointer;
}

button:hover {
  background-color: #ffc400df;
}

button:active {
  background-color: #ffc400df;
  box-shadow: 0 4px #80808080;
  transform: translateY(6px);
}

p {
  margin-top: 50px;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #000000;
}

.text,
.score {
  font-size: 20px;
  font-weight: 700;
  font-family: Oswald;
}

.message {
  color: #FFFFFF;
  font-size: 20px;
  font-family: Poppins;
  margin-top: 20px;
}

.end {
  color: #FFC300;
}